Regression Using Decission Tree
--

In [1]:
import pandas as pd
data = pd.read_csv('concrete.csv')

In [2]:
data.head()

   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30

In [3]:
data.count()

cement          1030
slag            1030
ash             1030
water           1030
superplastic    1030
coarseagg       1030
fineagg         1030
age             1030
strength        1030
dtype: int64

In [4]:
data.describe()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [24]:
#Divide The data into Train & Test Data using train_test_split

X = data.drop('strength', axis=1)
#X
y = data['strength']
#y.head()

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(772, 8)
(258, 8)
(772,)
(258,)

In [15]:
from sklearn.tree import DecisionTreeRegressor

dr = DecisionTreeRegressor()

dr.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [17]:
y_pred = dr.predict(X_test)

In [19]:
compare = pd.DataFrame({'Actual_Y': y_test, 'Predicated_Y': y_pred})
compare.head(10)

     Actual_Y  Predicated_Y
747     26.06         24.40
718     10.35          7.51
175     79.30         79.30
828     74.99         50.70
713      9.69         11.41
108     47.10         54.10
403     59.00         58.52
215     22.72         23.51
1       61.89         79.99
27      52.12         56.14

In [21]:
from sklearn import metrics
import numpy as np

print("Mean_Absolute_error",metrics.mean_absolute_error(y_test, y_pred))
print("Mean_squared_error",metrics.mean_squared_error(y_test, y_pred))
print("Root_Mean_squared_error",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean_Absolute_error 4.651666666666667
Mean_squared_error 50.774676550387596
Root_Mean_squared_error 7.125635168206943

In [ ]:
Root Mean square Error of the above Model is 7.124 which is greater than 10% to the mean of Cement Strength which is 35.81

In [3]:
data.isna().sum()

cement          0
slag            0
ash             0
water           0
superplastic    0
coarseagg       0
fineagg         0
age             0
strength        0
dtype: int64

In [5]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

numerical_feature = data[['cement','fineagg','coarseagg']]

In [6]:
numerical_feature.head()

   cement  fineagg  coarseagg
0   540.0    676.0     1040.0
1   540.0    676.0     1055.0
2   332.5    594.0      932.0
3   332.5    594.0      932.0
4   198.6    825.5      978.4

In [7]:
scaled_numerical_feature = rs.fit_transform(numerical_feature)

In [9]:
#scaled_numerical_feature

In [17]:
data['cement'] = rs.fit_transform(data[['cement']])

In [18]:
data.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,1.694528,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,1.694528,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,0.378113,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,0.378113,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,-0.471372,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [19]:
data['fineagg'] = rs.fit_transform(data[['fineagg']])

In [20]:
data.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,1.694528,0.0,0.0,162.0,2.5,1040.0,-1.112305,28,79.99
1,1.694528,0.0,0.0,162.0,2.5,1055.0,-1.112305,28,61.89
2,0.378113,142.5,0.0,228.0,0.0,932.0,-1.993552,270,40.27
3,0.378113,142.5,0.0,228.0,0.0,932.0,-1.993552,365,41.05
4,-0.471372,132.4,0.0,192.0,0.0,978.4,0.494358,360,44.30

In [21]:
data['coarseagg'] = rs.fit_transform(data[['coarseagg']])

In [22]:
data.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,1.694528,0.0,0.0,162.0,2.5,0.739220,-1.112305,28,79.99
1,1.694528,0.0,0.0,162.0,2.5,0.893224,-1.112305,28,61.89
2,0.378113,142.5,0.0,228.0,0.0,-0.369610,-1.993552,270,40.27
3,0.378113,142.5,0.0,228.0,0.0,-0.369610,-1.993552,365,41.05
4,-0.471372,132.4,0.0,192.0,0.0,0.106776,0.494358,360,44.30

In [23]:
data['age'] = rs.fit_transform(data[['age']])

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [26]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()

In [27]:
LR.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_predict = LR.predict(X_test)

In [41]:
compare = ['y_test','y_predict']

In [43]:
#compare = pd.DataFrame(compare)

In [44]:
#compare.head()

        0          1
0  y_test  y_predict

In [30]:
#--evaluate model performance
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [46]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_predict})

In [47]:
df.head(10)

     Actual  Predicted
533   11.65  17.997224
414   12.55  23.640579
286   27.77  26.880559
393   44.33  41.513256
921    9.74  17.719021
500   57.92  52.172587
317   44.14  39.091098
237   47.13  30.669325
862   35.23  20.317263
331   52.50  37.170642

In [50]:
# Evaluating the Algorithm
import numpy as np
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 8.076637164748812
Mean Squared Error: 105.36431354685507
Root Mean Squared Error: 10.26471205377214